*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'More Sugar', sans-serif;   
    text-decoration: none;                       
}
body{
background-color:#524643 ;
}

.contenedor{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    min-width: 375px;
}

.contenedor-registro{
    margin-top: 80px;
    max-width: 340px;
    height: 500px;
    background-color: #F3F1EE;
    border-radius: 20px;
    text-align: center;
}


img{
    width: 140px;
    height: 140px;
    margin-top: 12px;
}
.contenedor-registro .contenedor-formulario .form{
    text-align: center;
}

.contenedor-registro .contenedor-formulario .form input{
    text-align: center;
    display: inline-block;
    border-radius: 40px;
    background-color: #F17E3D ;
    padding-bottom: 10px;
    width: 80%;
    margin: 0 auto;
    margin-top: 20px;
    padding: 5px 0;
    border: none;
    font-size: larger;
    
    
    
    
}

.contenedor-registro .boton-ingreso .boton a{
    color: #747371;
    font-size: larger;
}



.contenedor-registro .contenedor-formulario .form button{
    display: inline-block;
    color: #F3F1EE;
    font-size: large;
    background-color: #FF0000;
    width: 40%;
    
    margin: 0 auto;
    margin-top: 25px;
    border-radius: 50px;
    padding: 8px 0;
    border: none;
}

.contenedor-registro .inicio {
    
    margin-top: 8px;
   
    
}

.contenedor-registro .inicio a{
    color: #524643;
    font-size: smaller;
    border-bottom: medium solid #747371;
    
}

#mensaje-error{
    width: 90%;
    margin: 0 auto;
    margin-top: 20px;
    color: #747371;
}





/* paleta de colores

#000000 negro
#FF0000 ROJO
#F17E3D NARANJA
#F3F1EE BLANCO BACANO
#FFFFFF BLANCO
#747371 GRIS
#524643 CAFE

*/